@import 'variables';

.contact {
    max-width: 600px;
    display: grid;
    grid-template-rows: auto auto auto;
    margin: 0 0 100px 0;
    padding: 100px 0 0 0;

    h2 {
        grid-row: 1;
        align-self: start;
        justify-self: center;
        display: flex;
        margin: 0 0 20px 20px;
        font-size: $fs-section-header;

        &:before,
        &:after {
            content: '';
            background-color: black;
            width: 200px;
            height: 2px;
            align-self: center;
        }

        &:before {
            margin: 0 20px 0 0;
        }

        &:after {
            margin: 0 0 0 20px;
        }
    }

    p {
        grid-row: 2;
        text-align: center;
        margin: 0 0 20px 0;
    }

    a {
        grid-row: 3;
        justify-self: center;
        border: 2px solid black;
        border-radius: 10px;
        padding: 10px 20px;
        transition: $transition;

        &:hover,
        &:focus {
            transition: $transition;
            transform: translate(-3px, -3px);
            box-shadow: 3px 3px 0 0 black;
        }
    }
}