@import 'variables';

.gordle {
    text-align: center;

    .row {
        text-align: center;
        display: flex;
        justify-content: center;
    
        div {
            display: block;
            width: 60px;
            height: 60px;
            border: 1px solid $gray;
            margin: 4px;
            text-align: center;
            line-height: 60px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 2em;
            color: $white;
        }

        .gray,
        .yellow,
        .green {
            &:nth-child(2) {
                animation-delay: .3s;
            }
    
            &:nth-child(3) {
                animation-delay: .6s;
            }
    
            &:nth-child(4) {
                animation-delay: .9s;
            }
    
            &:nth-child(5) {
                animation-delay: 1.2s;
            }
        }
    
        .gray {
            --background: #94949E;
            --border-color: #94949E;
            animation: flip .75s ease forwards;
        }
    
        .yellow {
            --background: #FABD16;
            --border-color: #FABD16;
            animation: flip .75s ease forwards;
        }
    
        .green {
            --background: #09bc8a;
            --border-color: #09bc8a;
            animation: flip .75s ease forwards;
        }

        .filled {
            animation-delay: 0s;
            animation: bounce .2s ease-in-out forwards;
        }
    }

    .keypad {
        max-width: 500px;
        margin: 20px auto;
        color: $white;

        div {
            margin: 5px;
            width: 40px;
            height: 50px;
            background: $dark-gray;
            display: inline-block;
            border-radius: 6px;
            line-height: 50px;
        }
    }

    @keyframes flip {
        0% {
            transform: rotateX(0);
            background: $black;
            border-color: $gray;
        }
        45% {
            transform: rotateX(90deg);
            background: $black;
            border-color: $gray;
        }
        55% {
            transform: rotateX(90deg);
            background: var(--background);
            border-color: var(--border-color);

        }
        100% {
            transform: rotateX(0);
            background: var(--background);
            border-color: var(--border-color);
        }
    }

    @keyframes bounce {
        0% {
            transform: scale(1);
            border-color: $gray;
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
            border-color: $white;
        }
    }
}