@import 'variables';

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;

    h1 {
        margin: 0 0 15px 0;
        font-size: 18px;
    }

    h2 {
        margin: 0 0 15px 0;
        font-size: 60px;
        color: $yellow;
    }

    h3 {
        margin: 0 0 15px 0;
        font-size: 50px;
    }
    
    p {
        font-size: 20px;
        color: $gray;
    }

    @media (max-width:700px) {
        h1 {
            font-size: 16px
        }

        h2 {
            font-size: 40px;
        }

        h3 {
            font-size: 30px;
        }

        p {
            font-size: 18px;
        }
    }
}