@import 'variables';

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    max-width: 1000px;

    h1 {
        margin: 0 0 15px 0;
        font-size: 18px;
    }

    h2 {
        margin: 0 0 15px 0;
        font-size: 60px;
        color: $yellow;
    }

    h3 {
        margin: 0 0 15px 0;
        font-size: 50px;
        text-align: left;
    }
    
    p {
        font-size: 20px;
        color: $gray;
        text-align: left;
    }

    button {
        align-self: center;
        background: $black;
        color: $white;
        font-size: 16px;
        border: 2px solid $yellow;
        border-radius: 10px;
        padding: 10px 20px;
        margin: 25px 0 0 0;
        transition: $transition;

        &:hover,
        &:focus {
            transition: $transition;
            transform: translate(-3px, -3px);
            box-shadow: 3px 3px 0 0 $yellow;
        }
    }

    @media (max-width:700px) {
        h1 {
            font-size: 16px
        }

        h2 {
            font-size: 40px;
        }

        h3 {
            font-size: 30px;
        }

        p {
            font-size: 18px;
        }
    }
}