@import 'variables';

.nav {
    position: fixed;
    top: 0;
    z-index: 11;
    width: 100%;
    height: $nav-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    transition: $transition;

    .logo {
        width: 50px;
        height: 50px;
        margin: 0 0 0 20px;
    }
    
    ul {
        list-style: none;
        display: flex;

        li {
            margin: 0 40px 0 0;

            a {
                transition: .25s;
                
                &:hover {
                    color: $yellow;
                }
            }
        }
    }

    @media (max-width: 600px) {
        ul {
            li {
                font-size: 14px;
                margin: 0 20px 0 0;
            }
        }
    }
}

.nav-hidden {
    @extend .nav;
    backdrop-filter: none;
    transform: translateY($nav-height * -1);
}