@import 'variables';

.social {
    width: 40px;
    position: fixed;
    bottom: 0;
    left: 40px;
    z-index: 10;
    color: $light-slate;

    @media (max-width: 1080px) {
        left: 20px;
    }

    @media (max-width: 768px) {
        display: none;
    }
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;

    &:after {
        content: '';
        display: block;
        width: 2px;
        height: 90px;
        margin: 0 auto;
        background-color: $light-slate;
    }
}

li {
    &:last-of-type {
        margin-bottom: 20px;
    }
}