// import variables
@import 'variables';

// reset styles
* {
    color: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

// set font
body {
    font-family: $font-default;
}

main {
    padding: 0px 100px;
}