// import variables
@import 'variables';

// reset styles
* {
    color: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: $font-default;
    background-color: $black;

    h1,
    h2,
    h3,
    h4,
    p,
    a,
    li {
        color: $white;
    }
}

main {
    padding: 0px 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}