// import Open Sans from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// Colors
$black: #1B1B1E;
$dark-gray: #3A3A40;
$gray: #94949E;
$white: #fbfffe;
$yellow: #FABD16;

// Font sizes
$fs-section-header: 24px;

// Fonts
$font-default: 'Open Sans', sans-serif;
$font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;

// Spacing
$nav-height: 80px;

// Transition
$transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);